<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
    <property name="dataSource" ref="dataSource"/>
    <property name="mapperLocations">
        <array>
            <value>classpath:mapping/*.xml</value>
        </array>
    </property>
    <property name="typeAliasesPackage" value="com.isea533.mybatis.model"/>
    <property name="plugins">
        <array>
            <bean class="com.isea533.mybatis.pagehelper.PageHelper">
                <property name="properties">
                    <value>
                        dialect=hsqldb
                        reasonable=true
                    </value>
                </property>
            </bean>
            <bean class="com.isea533.mybatis.mapperhelper.MapperInterceptor"/>
        </array>
    </property>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
</bean>