<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.geo.rcs.modules.api.modules.user.dao.ApiUserTokenMapper">

	<select id="queryByUserId" resultType="com.geo.rcs.modules.api.modules.user.entity.ApiUserToken">
		select * from api_user_token where user_id = #{value}
	</select>

	<select id="queryByToken" resultType="com.geo.rcs.modules.api.modules.user.entity.ApiUserToken">
		select * from api_user_token where token = #{value}
	</select>
	 
	<insert id="save" parameterType="com.geo.rcs.modules.api.modules.user.entity.ApiUserToken">
		insert into api_user_token
		(
			`user_id`, 
			`token`, 
			`expire_time`, 
			`update_time`
		)
		values
		(
			#{userId}, 
			#{token}, 
			#{expireTime}, 
			#{updateTime}
		)
	</insert>
	 
	<update id="update" parameterType="com.geo.rcs.modules.api.modules.user.entity.ApiUserToken">
		update api_user_token
		<set>
			<if test="token != null">`token` = #{token}, </if>
			<if test="expireTime != null">`expire_time` = #{expireTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}</if>
		</set>
		where user_id = #{userId}
	</update>

</mapper>